.pantalla_1 {
    vertical-align: middle;
    margin-top: 8%;
}

.vector_smart {
    margin-bottom: -10%;
    margin-top: -5%;
}

.vector_smart_row {
    overflow-y: hidden;
}

.frase_inicial {
    display: inline;
}

button {
    border: none;
    padding: 0;
    background: none;
    margin-top: 1%;
    margin-bottom: 1%;
}
