.file_input {
    display: none !important;
}

.label_file_input {
    cursor: copy;
}

.aux_relative {
 height: 115px;
}

.row_nombre_usuario {
    position: absolute;
    left: 50%;
    top: 65%;
    text-align: center;
}

.nombre_usuario {
    font-family: 'AbrahamLincoln';
    font-size: 40px;
    color: #902a1f;
    margin-bottom: 0;
}
.apellido_usuario {
    font-family: 'AbrahamLincoln';
    font-size: 40px;
    color: #902a1f;

}

.adorno_izquierdo {
    position: absolute;
    left: 45%;
}

.row_texto {
    position: absolute;
    top: 185%;
    left: 50%;
}

.col_derecha {
    margin-top: 0%;
}

.row_subir_imagen {
    position: absolute;
    top:7%;
}

.adorno_derecho {
    position: absolute;
    left: -26%;
}

.row_encender_camara {
    position: absolute;
    top: 185%;
    left: 10%;
}

.aviso {
    margin-top: 42px;
    margin-left: 13px;
}
