
html, body{
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0%;
    overflow-x: hidden;
}

.row_up {
    margin-top: 15%;
}

.portrait {
    position: relative;
    height: 700px;
    width: 100%;
    overflow-y: hidden;
}

.frame {
    position: relative;
    width: 100%;
    text-align: center;
}

.cuadro {
    position: relative;
    z-index: 5;
    pointer-events: none;
}

.arte {
    position: absolute;
    z-index: 5;
    left: 25px;
    pointer-events: none;
}

.pic_frame {
    height: 295px;
    width: 355px;
    margin-left: 23%;
    position: absolute;
    z-index: 1;
    top: 120px;
}

#buttons {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}




#porta {
    position: absolute;
    width: 50%;
    left: 25%;
    z-index: 10;
    text-align: center;
    pointer-events: none;
}
#container {
    position: relative;
}
